.gradient-text {
  background-image: -webkit-gradient(linear, left top, right top, from(#ff5722), color-stop(25%, #ff1f4a), to(#f700ad));
  background-image: linear-gradient(to right, #ff5722 0%, #ff1f4a 25%, #f700ad 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.highlight-text {
  font-weight: 500;
  color: #5688c7;
}

.primary-link, .link-with-logo .link-text {
  text-decoration: none;
  color: #bfbfbf;
  font-weight: 500;
  padding: 0.2em 0.3em;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  background: -webkit-gradient(linear, left top, right top, from(#ff5722), color-stop(25%, #ff1f4a), to(#f700ad));
  background: linear-gradient(to right, #ff5722 0%, #ff1f4a 25%, #f700ad 100%);
  background-size: 100% 0.1em;
  background-repeat: no-repeat;
  background-position: left 0 bottom 5%;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.primary-link:hover, .link-with-logo .link-text:hover {
  background-size: 100% 40%;
}

.link-with-logo {
  font-size: 1.25rem;
  text-decoration: none;
  width: 17.5rem;
  margin: 1.25rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.link-with-logo .link-logo {
  width: 2.5rem;
  height: 2.5rem;
  margin-right: 0.625rem;
  pointer-events: none;
}
.link-with-logo .link-text {
  height: 100%;
  padding: 0.4em 0.3em;
  background-size: 100% 1px;
  background-position: left 0 bottom 0;
}
.link-with-logo .link-text:hover {
  color: #bfbfbf;
}
.link-with-logo:hover .link-text {
  background-size: 100% 40%;
  color: #0b132b;
}
.link-with-logo:focus {
  outline: none;
}

.primary-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 2.5rem;
  font-size: 1.3rem;
  font-weight: 500;
  text-decoration: none;
  color: #0b132b;
  border: none;
  border-radius: 3px;
  background: #5688c7;
}
.primary-btn:hover {
  cursor: pointer;
}

.secondary-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 2.5rem;
  font-size: 1.3rem;
  text-decoration: none;
  border-radius: 3px;
  letter-spacing: 1px;
  border: 1px solid #5688c7;
  color: #5688c7;
  font-weight: 400;
}
.secondary-btn:hover {
  color: #0b132b;
  font-weight: 500;
  border: 1px solid transparent;
  background: #5688c7;
}

.scrollbar {
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: black transparent;
}
.scrollbar::-webkit-scrollbar {
  width: 6px;
}
.scrollbar::-webkit-scrollbar-button {
  display: none;
}
.scrollbar::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 3.125rem;
}

.x-padding {
  padding: 0 1.25rem;
}
@media screen and (min-width: 720px) {
  .x-padding {
    padding: 0 3.125rem;
  }
}
@media screen and (min-width: 992px) {
  .x-padding {
    padding: 0 6.25rem;
  }
}
@media screen and (min-width: 1140px) {
  .x-padding {
    padding: 0 12.5rem;
  }
}

.bg {
  background: #0b132b;
}

/*# sourceMappingURL=main.css.map */
