.scrollbar {
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: black white;
}
.scrollbar::-webkit-scrollbar {
  width: 6px;
}
.scrollbar::-webkit-scrollbar-button {
  display: none;
}
.scrollbar::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 3.125rem;
}

.x-padding {
  padding: 0 1.25rem;
}
@media screen and (min-width: 720px) {
  .x-padding {
    padding: 0 3.125rem;
  }
}
@media screen and (min-width: 992px) {
  .x-padding {
    padding: 0 6.25rem;
  }
}
@media screen and (min-width: 1140px) {
  .x-padding {
    padding: 0 12.5rem;
  }
}
