.gradient-text {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#f9d423), to(#f83600));
  background-image: linear-gradient(to bottom right, #f9d423 0%, #f83600 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
