@import './primary-link';

.link-with-logo {
  font-size: 1.25rem;
  text-decoration: none;
  width: 17.5rem;
  margin: 1.25rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  .link-logo {
    width: 2.5rem;
    height: 2.5rem;
    margin-right: 0.625rem;
    pointer-events: none;
  }

  .link-text {
    @extend .primary-link;
    height: 100%;
    padding: 0.4em 0.3em;
    background-size: 100% 1px;
    background-position: left 0 bottom 0;

    &:hover {
      color: #bfbfbf;
    }
  }

  &:hover {
    .link-text {
      background-size: 100% 100%;
      color: #0b0d0e;
    }
  }

  &:focus {
    outline: none;
  }
}
