@import '../pages/bg';
@import '../layout/x-padding';
@import '../components/scrollbar';
@import '../utils/mixins';

$width: 400px;
$toolbar-height: 4.375rem;

body {
  @extend .bg;
  @extend .x-padding;
  @extend .scrollbar;
  display: block;
  position: relative;
  height: calc(100vh - #{$toolbar-height});
  color: $normal-text-color;
  padding-top: 2rem;
  padding-bottom: 2rem;
  font-family: 'Roboto', sans-serif;

  @include breakpointMin(laptop) {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}

article {
  @include breakpointMin(tablet) {
    width: 75%;
  }

  @include breakpointMin(laptop) {
    width: 80%;
  }
}

.banner-image {
  margin-bottom: 4rem;
  width: 100%;
  border-radius: 3px;
}

section {
  margin-bottom: 4rem;

  .section-header {
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 1rem;
    padding-bottom: 0.5rem;
    color: $primary-color;
    border-bottom: 2px solid $primary-color;
  }

  .section-content {
    font-size: 1.3rem;
    line-height: 2rem;
  }

  .section-logos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;

    svg {
      height: 4rem;
      width: 4rem;
    }
  }

  .section-dl {
    font-size: 1.3rem;
    line-height: 2rem;

    &-term {
      color: white;
      font-style: oblique;
    }

    &-description {
      margin: 0.5rem 0 2rem;
    }
  }

  .section-ul {
    font-size: 1.3rem;
    line-height: 2rem;
    list-style-type: disc;
    padding: 1rem 0 0 2rem;
  }

  a {
    color: $normal-text-color;
  }
}